name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "3 2 1 * *"

jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: Build and test

    strategy:
      matrix:
        include:
          # Linux
          - os: ubuntu-latest
            py: '3.10'
          - os: ubuntu-latest
            py: '3.11'
          - os: ubuntu-latest
            py: '3.12'
          - os: ubuntu-latest
            py: '3.13'
          - os: ubuntu-latest
            py: '3.14'
          # Windows
          - os: windows-latest
            py: '3.10'
          # macOS
          - os: macos-latest
            py: '3.10'

    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py }}

      - name: Install module and Python tools
        run: |
          python -m pip install -U pip setuptools wheel
          python -m pip install .
          python -m pip install pytest
          rm screen3.py  # want to ensure testing the installed version

      - name: Download SCREEN3 model
        run: |
          python -c "import screen3; screen3.download()"

      - name: Build model (Ubuntu)
        if: contains(matrix.os, 'ubuntu')
        run: |
          set -xe
          python -c "import screen3; screen3.build()"

      - name: Provide `gfortran` for macOS
        if: contains(matrix.os, 'macos')
        run: |
          set -xe
          which gfortran && exit 0
          which gfortran-${ver}
          sudo ln -s /opt/homebrew/bin/gfortran-${ver} /opt/homebrew/bin/gfortran
          gfortran --version
        env:
          ver: '13'
          full-ver: '13.4.0'

      - name: Build model (macOS)
        if: contains(matrix.os, 'macos')
        run: |
          set -xe
          python -c "import screen3; screen3.build()"

      - name: Check screen3 install status
        run: |
          python -c "import screen3; print(screen3._THIS_DIR)"

      - name: Run tests (pytest)
        run: pytest -v
