name: Docs

on:
  push:
    paths:
      - '**.py'
      - '.github/workflows/docs.yml'
    branches:
      - main

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install package (with `docs` extras)
        run: |
          python -m pip install pip setuptools wheel
          python -m pip install .[docs]

      - name: Build docs with pdoc
        run: |
          pdoc -d numpy screen3 -o ./doc/_build

      - name: Push built docs to `gh-pages` branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./doc/_build
          git-config-name: github-actions
          git-config-email: 41898282+github-actions[bot]@users.noreply.github.com
          clean: true
          clean-exclude: .nojekyll
